# Ruta al Secure Connect Bundle (subido a /content/ en Colab)
SCB_PATH=/content/secure-**

# AstraDB Application token (DB admin role)
ASTRA_TOKEN=AstraCS:*****

# Keyspace creado desde la UI de AstraDB
ASTRA_KEYSPACE=cloud_analytics